[Desktop Entry]
Encoding=UTF-8
Name=RavenCash Core
Comment=RavenCash P2P Cryptocurrency
Comment[de]=Verbinde mit dem RavenCash peer-to-peer Netzwerk
Comment[fr]=RavenCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=RavenCash, eşten eşe kriptografik sanal para birimi
Exec=ravencash-qt %u
Terminal=false
Type=Application
Icon=ravencash128
MimeType=x-scheme-handler/ravencash;
Categories=Office;Finance;
